header {
  display: flex;
  text-align: center;
  font-family: $font-primary;
  font-size: $font-size-header;
  background-color: $colour-headerfooterbg;
  color: $colour-headerfooter;
  height: 50px;
}
