$colour-headerfooter: #ffffff;
$colour-primaryfont: #3a3a3a;
$colour-secondaryfont: #800000;

$colour-headerfooterbg: #800000;
$colour-homepagebg: #ffffff;

$font-primary: "Lato", sans-serif;

$font-size-header: 32px;
$font-size-title: 28px;
$font-size-primary: 24px;
$font-size-paragraph: 12px;
